

img#mainImg {
	border-style:solid;
	border-width:1px;
	border-color:black;
	width:100%;
}

.title {
	position:relative;
	top:30px;
	left:40px;
}

.lArrow {
	width:30px;
	margin-right:7px;
}

.lArrow img {
	width:100%
}

.rArrow {
	width:30px;
	margin-left:7px;
}

.rArrow img {
	width:100%
}

.imgBrowser {
	position:absolute;
	top:86px;
	left:20px;
	height:900px;	
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	align-items: center;	
	margin-bottom:50px;
	min-width:800px;
}

.viewer {
	width:633px;
	height:900px;
}

.viewer img {
	width:100%;
}

.tiles {
	position:absolute;
	top:0px;
	left:750px;
	width:400px;
	margin-top:56px;
	margin-left:5px;
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	flex-wrap:wrap;
}

.tile {
	margin:30px 0px 30px 15px;
	height:133px;
	width:100px;
}

.tile a img {
	height:133px;
	width:100px;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
