@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
	background-color:#303030;
	font-family:Tahoma, Verdana, Segoe, sans-serif;
}

a {
  border: 0 none;
  text-decoration: none;
}

#header {
	height:182px;
	padding-bottom:40px;

	position: absolute;
	left:300px;
}

.header h1 {
	font-size:72;
	font-weight: normal;
	color: #14bcc6;
}

.header h2 {
	font-size:36;
	font-weight: normal;
	color:#555555;
	font-family: 'Roboto Slab', serif
}

#sidebar {
	color:#555555;

	width:16.5%;
	
	position:absolute;
	padding-left:3%;
	padding-right:3%;
	padding-top:182px;
	z-index: -1;
}

.sidebar ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}
.sidebar li {
	padding-bottom:10px;
}

.sidebar a {
	color:#555;
	font-size:32;
	text-decoration:none;
}

.sidebar #currentLink {
	color:#14bcc6;
}

.sidebar a:hover {
	color:#14bcc6;
}

#content {
	color:#FFFFFF;
	position:absolute;
	top:150px;
	left:300px;
	font-family:Tahoma, Verdana, Segoe, sans-serif;
	font-size:24;
	color:#AAA;
}