<!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<!DOCTYPE html>
<html>
<head>
<title>Graphic Storytelling Portfolio</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/primary-style.css') }}"/>
<style>
#{{page}} {
	color:#14bcc6;
}
</style>
<link rel="icon" type="image/ico" href="{{url_for('static',filename='images/fav.ico')}}" sizes="32x32">
</head>
<body>




<div id=header class=header> 
	<h1> Barbara Hvidt </h1>
	<h2> Graphic Storytelling Portfolio </h2>
</div>

<div id=content>
	{% block content %} {% endblock %}
</div>

<div id=sidebar class=sidebar> 
	<ul>
		<li><a href="/text/letter" id=letter>Letter of Intent</a></li>
		<li><a href="/sequential" id=sequential>Sequential Storytelling</li>
		<li><a href="/comics/comic1" id=comic1 style="padding-left:20px;">	First Comic</a></li>
		<li><a href="/comics/comic2" id=comic2 style="padding-left:20px;">	Second Comic</a></li>
		<li><a href="/full/universe" id=universe>Universe Building</a></li>
		<li><a href="/full/life" id=life>Life Drawing</a></li>
		<li><a href="/text/story" id=story>Story</a></li>
		<li><a href="/full/optional" id=optional>Optional</a></li>
	</ul>
</div>



</body>
</html>
